ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color:skyblue; */
}

li {
  float: left;
}

li a {
  font-size: 1.2rem;
  display: block;
  padding: 16px 10px;
  color: white;
  text-align: left;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.menu {
  background-color: skyblue;
}

.material-icons.md-dark {
  color: azure;
  padding-top: 2px;
  margin-left: 17px;
}

.cart {
  width: 40px;
  position: relative;
  float:left;
}

.cart span {
  position: absolute;
  top: 5px;
  right: 0;
  font-size: 16px;
}

.cart i {
  float: left;
  margin-left: 0 !important;
}
